:root {
  --background: white;
  --primary-color: rgb(226, 75, 75);
  --secondary-color: #4b7fa0;
  --bg-color-1: #c2c2c2;
  --bg-color-2: #97aec2;
}
html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  background: var(--background);
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* input {
  margin-top: 20px;
  background: transparent;
  border: transparent;
  width: 90vw;
  height: 30px;
} */

#information {
  display: flex;
  justify-content: space-evenly;
  width: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--secondary-color);
}

#container h2 {
  margin-bottom: 0;
}
#container p {
  margin-top: 5px;
}

#information .fa {
  color: var(--secondary-color);
  font-size: 30px;
}

/* ----------------------------- GITHUB ----------------------------- */

#github-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

#github-container h2 {
  margin-bottom: 15px;
}

.project a {
  /* font-weight: bold; */
  border-bottom: 1px solid var(--primary-color);
  text-decoration: none;
  color: var(--primary-color);
}

.project p {
  color: var(--secondary-color);
  margin-top: 5px;
}

/* ----------------------------- BACKGROUND ----------------------------- */
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    var(--bg-color-1) 50%,
    var(--bg-color-2) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
