:root {
  --background: white(219, 24, 24);
  --primary-color: rgb(19, 20, 82);
  --secondary-color: #2d495c;
  --bg-color-1: #cacaca;
  --bg-color-2: #abc4d8;

  --width: 40vw;

  --button-primary: #346485;
}
html {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  background: var(--background);
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* input {
  margin-top: 20px;
  background: transparent;
  border: transparent;
  width: 90vw;
  height: 30px;
} */

#information {
  display: flex;
  justify-content: space-evenly;
  width: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--secondary-color);
}

#container h2 {
  margin-bottom: 0;
}

#information .fa {
  color: var(--secondary-color);
  font-size: 30px;
}

/* ----------------------------- NAV ----------------------------- */
#nav {
  display: flex;
  width: var(--width);
  justify-content: space-between;
  align-items: flex-start;
  /* flex-direction: column; */
}

#nav a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 22px;
}

/* ----------------------------- GITHUB ----------------------------- */

#github-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: var(--width);
  height: 100%;
}

@media only screen and (max-width: 1600px) {
  :root {
    --width: 90vw;
  }
}

#github-container h2 {
  margin-bottom: 10px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 18px;
  border-top: 2px solid white;
}

.project i {
  padding-right: 4px;
}

.project a {
  text-decoration: none;
  color: var(--primary-color);
  padding: 12px;
  margin-top: 5px;
  background: var(--secondary-color);
  color: white;
}

.project a:hover {
  background: white;
  color: var(--secondary-color);
}

.project p {
  color: var(--secondary-color);
  /* margin-bottom: 5px; */
  margin-top: 10px;
  margin-left: 2;
  margin-bottom: 0;
  /* font-style: italic; */
}

.topics_container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0px;
  margin: 0px;
  width: var(--width);
}
.topics {
  padding: 4px 8px 6px 8px;
  margin: 8px 6px 0px 0px;
  background: var(--button-primary);
  color: white;
}
/* 
.language_container {
  align-self: flex-end;
  margin-top: 10px;
  padding: 10px;
}

.language {
  padding-top: 4px;
  align-self: flex-end;
} */

/* ----------------------------- BACKGROUND ----------------------------- */
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    var(--bg-color-1) 50%,
    var(--bg-color-2) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
